<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.julien.mapper.TeamMapper">

    <select id="teamList" resultType="com.julien.entity.Team">
        SELECT DISTINCT t.*
        FROM team t
        JOIN user u ON u.com_id = t.com_id

        WHERE t.com_id = #{comId}
        ORDER BY t.create_time DESC;
    </select>

</mapper>